# Ignore vim swap files
*.swp
# Ignore LaTeX temp files
*.aux
# *.log # We might need to see the error messages from the log file.
*.out
*.synctex.gz
# Ignore LaTeX output files
*.pdf
*.dvi
*.ps
# Ignore Open Document spreadsheets
*.ods
# Ignore LibreOffice lock files, e.g. .~lock.name_of_spreadsheet.ods#
*.ods#
*.csv#
